services:
  dev:
    build:
      context: ../..
      dockerfile: container/dev/Dockerfile
    image: latex_container-dev:latest
    container_name: latex_container-dev
    hostname: latex_container-dev
    userns_mode: keep-id
    volumes:
      - latex_container-repo:/repo
      - latex_container-cache:/cache
      - latex_container-home:/home/appuser/
      - ${HOME}/.ssh/github:/config/ssh/github:ro
      - ${HOME}/.ssh/github.pub:/config/ssh/github.pub:ro
      - ${HOME}/.ssh/known_hosts:/config/ssh/known_hosts:ro
    ports:
      - 5555:5555
    environment:
      - NODE_ENV=development
      - MISE_ENV=default
      - TERM=xterm-256color
      - LESSCHARSET=utf-8
    init: true
    stop_signal: SIGKILL
    working_dir: /repo
    tty: true
    stdin_open: true

volumes:
  latex_container-repo:
  latex_container-cache:
  latex_container-home:
